<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap<%- dotMin %>.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap-theme<%- dotMin %>.css">
    <link rel="stylesheet" href="./styles/base<%- dotMin %>.css">
</head>

<body>
    <header class="navbar navbar-inverse" role="banner" id="vue-head">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="./index.html">Home</a>
            </div>
            <div class="collapse navbar-collapse" role="navigation" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="./doc/api/index.html">API</a>
                    </li>
                    <li v-show="canCreateOrganization" style="display: none;">
                        <a href="./newOrganization.html">New Organization</a>
                    </li>
                    <li>
                        <a href="./invite.html">Invite</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:void(0)"
                            v-show="loginStatus !== 1">
                            <span class="glyphicon glyphicon-user" style="top:2px"></span> &nbsp;
                            <span v-show="loginStatus === 0">Login now...</span>
                            <span v-else style="display: none;">{{currentUserName}}({{currentUserEmail}})</span>
                        </a>
                        <a href="./login.html" v-else style="display: none;">
                            <span class="glyphicon glyphicon-user" style="top:2px"></span> &nbsp;Login
                        </a>
                    </li>
                    <li v-show="loginStatus == 2">
                        <a href="javascript:void(0)" @click="exit()">Exit</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
