<% include head %>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Themes
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="vue-body" v-show="currentOrganizationId !== ''" style="display: none;">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="the-label {{$root.currentOrganizationId === organization.id ? 'label-active':''}}"
                            v-for="organization in organizationsCurrentUserIn"
                            @click="clickOrganization(organization)">{{organization.name}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input class="form-control" v-model="q" @keyup.13="fetchThemes(1)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table">
                                <tbody>
                                    <tr v-for="theme in themes"
                                        @mouseover="theme.isHovering = true"
                                        @mouseout="theme.isHovering = false">
                                        <td>
                                            <h5>
                                                <span v-show="themeIdInEditing !== theme.id">
                                                    {{theme.title}}
                                                    <span class="label label-success"
                                                        v-show="theme.status === 0">open</span>
                                                    <span class="label label-danger" v-else>closed</span>
                                                </span>
                                                <input class="form-control"
                                                    v-else
                                                    v-model="titleInEditing">
                                            </h5>
                                            <div>
                                                <span v-show="themeIdInEditing !== theme.id">{{theme.detail}}</span>
                                                <textarea class="form-control"
                                                    v-else v-model="detailInEditing"></textarea>
                                            </div>
                                            <div style="height: 22px;">
                                                created by {{theme.creator.name}} {{theme.createTimeText}}
                                                •
                                                {{theme.owners.length}}
                                                <div :style='{ display: theme.isHovering ? "inline" : "none" }'>
                                                    •
                                                    <button type="button" class="clip btn btn-xs btn-primary" data-clipboard-text="{{theme.watchersEmails}}"
                                                        v-show="theme.watchers.length > 0">
                                                        copy {{theme.watchers.length}} watchers' email
                                                    </button>
                                                    <span v-else>
                                                        no watchers
                                                    </span>
                                                    •
                                                    <button type="button" class="btn btn-xs btn-primary"
                                                        v-show="theme.isWatching"
                                                        @click="unwatch(theme)">
                                                        unwatch
                                                    </button>
                                                    <button type="button" class="btn btn-xs btn-primary"
                                                        v-else
                                                        @click="watch(theme)">
                                                        watch
                                                    </button>
                                                    <div :style='{ display: theme.isOwner ? "inline" : "none" }'>
                                                        •
                                                        <button type="button" class="btn btn-xs btn-danger"
                                                            v-show="theme.status === 0"
                                                            @click="close(theme)">
                                                            close
                                                        </button>
                                                        <button type="button" class="btn btn-xs btn-success"
                                                            v-else
                                                            @click="reopen(theme)">
                                                            reopen
                                                        </button>
                                                        <div :style='{ display: themeIdInEditing === null ? "inline" : "none" }'>
                                                            •
                                                            <button type="button" class="btn btn-xs btn-primary"
                                                                @click="edit(theme)">
                                                                edit
                                                            </button>
                                                        </div>
                                                        <div :style='{ display: themeIdInEditing !== null && themeIdInEditing === theme.id ? "inline" : "none" }'>
                                                            <button type="button" class="btn btn-xs btn-primary"
                                                                v-show="canSave && (titleInEditing !== theme.title || detailInEditing !== theme.detail)"
                                                                @click="save(theme)">
                                                                save
                                                            </button>
                                                            <button type="button" class="btn btn-xs btn-default"
                                                                v-show="themeIdInEditing !== null"
                                                                @click="cancel(theme)">
                                                                cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <button type='button' class='btn btn-primary' style="display: none;"
                                @click="showMoreThemes()"
                                v-show="nextThemeCount > 0">show {{nextThemeCount}} more {{nextThemeCount > 1 ? "themes" : "theme"}}(total {{totalCount}})</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newThemeTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">detail</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" v-model="newThemeDetail"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="button" class="btn btn-primary"
                                v-show="canCreate"
                                @click="createTheme()">Create</button>
                            <button type="button" class="btn btn-primary" disabled
                                v-else>Please input title</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include scripts %>
<script type="text/javascript" src="./scripts/index<%- dotMin %>.js"></script>
<% include foot %>
