.the-label {
  border: #d44137 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 3px 0;
  display: inline-block;
  background-color: white;
  color: #d44137;
  cursor: pointer;
  user-select: none;
}
.the-label:hover {
  box-shadow: 0 0 10px #d44137;
}
.label-active {
  background-color: #d44137;
  color: white;
}
